:root {
    --primary-color: #F29E4C; /* 태양의 색 */
    --secondary-color: #457B9D; /* 바다의 색 */
    --font-family: 'Roboto', sans-serif;
    --font-size-very-large: 2.5rem;
    --font-size-large: 2rem;
    --font-size-medium: 1.5rem;
    --font-size-small: 1rem;
    --font-size-very-small: 0.75rem;
    --button-size-very-large: 3rem;
    --button-size-large: 2.5rem;
    --button-size-small: 1.5rem;
    --primary-color-dark: #D8883A; /* Primary color darker */
    --primary-color-light: #FFA75A; /* Primary color lighter */
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-medium);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-family);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    width: 1000px;
    margin: auto;
}

.month-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}

.city-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.city-tag {
    padding: 10px;
    background-color: var(--secondary-color);
    color: white;
    cursor: pointer;
    font-size: var(--font-size-small);
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    font-size: var(--font-size-medium);
    transition: background-color 0.3s, box-shadow 0.3s;
}


button.month {
    background-color: var(--primary-color);
    font-size: var(--button-size-small);
}


button.month:hover {
    background-color: var(--primary-color-dark);
}


button.month:active {
    background-color: var(--primary-color-light);
    box-shadow: 0 0 10px var(--primary-color-light);
}

button.refresh {
    background-color: transparent;
    font-size: var(--button-size-small);
}

button.city {
    background-color: var(--secondary-color);
    font-size: var(--button-size-large);
}

button.very-large {
    font-size: var(--button-size-very-large);
}

button.large {
    font-size: var(--button-size-large);
}

button.small {
    font-size: var(--button-size-small);
}

button.selected {
    background-color: var(--primary-color-dark);
}

button.month.range {
    background-color: var(--primary-color-dark);
}

.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.popup-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
